{{ partial "header.html" . }}
{{ partial "aside.html" . }}
{{ partial "nav.html" . }}

<!-- <div class="container"> -->
    <section class='section container is-fluid'>
        {{ range .Data.Pages.ByWeight }}
        <div class="columns">
            <div class="column is-narrow">
                <figure>
                    {{ if isset .Params "img" }}
                    <picture>
                    <source srcset="/thumbs/{{.Params.img}}.webp" type="image/webp"/>
                    <source srcset="/thumbs/{{.Params.img}}" type="image/jpeg"/>

                    <img class="shadow" src="/thumbs/{{ .Params.img }}" alt="none"/>
                    </picture>
                    {{ end}}
                </figure>  
            </div>
            <div class="column">
                <h4 class="title is-5">{{ .Title }}</h4>
                <p class="subtitle is-6">{{ .Description }}</p> 
                <p class="content"> {{ .Summary }} </p><br/>
                <a class="button is-info shadow" href="{{.Permalink}}">Читать</a>
            </div>
        </div>
        <hr>
        {{ end }}
    </section>
    <!-- </div> -->
</div></div> <!-- aside -->
{{partial "footer.html" .}}
