{{ partial "header.html" . }}
{{ partial "aside.html" . }}
{{ partial "nav.html" . }}


<svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
<symbol id="icon-home" viewBox="0 0 32 32">
<title>home</title>
<path d="M32 18.451l-16-12.42-16 12.42v-5.064l16-12.42 16 12.42zM28 18v12h-8v-8h-8v8h-8v-12l12-9z"></path>
</symbol>
    </defs></svg>

    <!-- <div class="container"> -->
    <section class='section container is-fluid'>
        <div class="level">
            <div class="level-left is-hidden-touch">
                <div class="level-item">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/index.html"><svg class="icn icn-home"><use xlink:href="#icon-home"></use></svg></a></li>
                            {{ if  .Section }}
                            <li><a href="/{{.Section}}/">{{with .Site.GetPage "section" .Section }}{{ .Title }}{{end}}</a></li>
                            {{end}}

                            <li class="is-active"><a href="#" aria-current="page">{{.LinkTitle }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    {{ if isset .Params "categories"}}
                    <div class="level">
                        <div class="level-left">
                            <div class="tags level-item has-addons">
                                <span class="tag is-black">Категории</span>
                                {{ range .Params.categories  }} <a class="tag is-info" href="/categories/{{ . | urlize }}/">{{ . }}</a> {{ end }}
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        <h3 class="title is-4" > {{ .Title }}</h3> 
        <p class="subtitle is-6">{{ .Description }}</p> 

        <div class="content markdown"> {{ .Content }}</div>
    </section>
    <!-- </div> -->
</div></div> <!-- aside -->
{{partial "footer.html" .}}
