{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section id="thepage">
    <div>
        <h1 id="title">{{ .Title }}</h1>

        <ul>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms }}
            <li><a href="/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> {{ len $value }}</li>
            {{ end }}
        </ul>
    </div>
</section>

{{ partial "footer.html" . }}
