.mintcream {
  background-color: #F0FFF0 !important; }

.icn {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.icn-home {
  /* Using currentColor above lets
   *   us use `color` for changing the color
   *     of our icons: */
  color: steelblue;
  /* The width and height of the SVG
   *   was previously set to 1em.
   *     This allows us to use `font-size`
   *       to change the size of our icon: */
  font-size: 24px; }

.markdown p {
  text-align: justify; }

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.right {
  float: right; }

.left {
  float: left; }

.kart.right {
  margin: 10px 0px 10px 20px; }

.kart.left {
  margin: 10px 20px 10px 0px; }

.vgallery {
  margin-top: 0px;
  width: 310px;
  float: right;
  margin-left: 2em; }

@media screen and (max-width: 700px) {
  .vgallery {
    width: 100%;
    float: none; }

  .kart {
    width: 100%;
    float: none; } }
dt {
  font-weight: bold; }

dt::after {
  content: ":"; }

dd {
  margin-left: 2em !important; }

