
<div class="columns">
    <aside class="column is-hidden-touch is-narrow menu" style="border-right-style: solid; border-right-width: thin; border-right-color: lightgrey;  padding: 25px;">
        <p class="menu-label">Главное меню</p>
       <ul class="menu-list">
            {{ partial "menu.html" (dict "menu" .Site.Menus.main "page" . "site" .Site "mname" "main") }}
       </ul>
    </aside>
    <div class="column">
