<footer class="footer">
    <div class="columns">
        <div class="column">
            <div class="content">
                <p><small>Частичное или полное использование материалов разрешается только при условии ссылки и/или прямой открытой
                        для поисковых систем гиперссылки на непосредственный адрес материала на Сайте</small></p>
                <p>Алексей Кишкин, Татьяна Соколова, 2011-2017</p>
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=21609268&amp;from=informer"
                   target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/21609268/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                       style="width:88px; height:31px; border:0;" 
                                                       alt="Яндекс.Метрика" 
                                                       title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" 
                                                       class="ym-advanced-informer" data-cid="21609268" data-lang="ru" /></a>
                <!-- /Yandex.Metrika informer -->
            </div>
        </div>
        <div class="column">
            <div class="content has-text-centered">
                <p> <a href="http://bulma.io">
                        <img src="/images/made-with-bulma.png" alt="bulma logo" width="128" height="24" >
                    </a>
                        <a href="http://gohugo.io">
                            hugo <img src="/images/hugo_logo.png" alt="hugo logo" width="20" ></a> </p>
            </div>
        </div>
        <div class="column">
            <div class="content has-text-right">
                <p ><small>Авторы фотографий С. Таланов, Е. Соколов и Т. Михайлова</small></p>
            </div>
        </div>
    </div>
</footer>


{{ $initjs := resources.Get "js/init.js" }}
{{ $jq := resources.Get "js/jquery.js" }}
{{ $fancyjs := resources.Get "js/jquery.fancybox.min.js" }}
{{ $masonjs := resources.Get "js/jquery.masonry.min.js" }}
{{ $im := resources.Get "js/imagesloaded.pkgd.min.js"}}
{{ $js := slice $jq $fancyjs $im $masonjs $initjs | resources.Concat "js/bundle.js" | resources.Minify }}

<script src="{{ $js.Permalink }}"></script>

{{ if eq ( $.Scratch.Get "masonry") 1 }}
<script>
    (function($){
        $(function(){
            var $container = $('#tiles');
            // Инициализация
            $container.imagesLoaded( function() {
                $container.masonry({
                    isFitWidth: true,
                    isAnimated: true,
                    gutterWidth: 10,
                    itemSelector: '.tile-item'
                });

            });
        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>
{{end}}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(21609268, "init", {
    id:21609268,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/21609268" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
{{ template "_internal/google_analytics_async.html" . }}
</html>
