<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta name="yandex-verification" content="1dbd9847107fc66b" />
        <title>{{ .Site.Title }}</title>

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

        <!-- CSS  -->
        <!--        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
        {{ $app := resources.Get "css/app.css" }}
        {{ $bulma := resources.Get "css/bulma.css" }}
        {{ $fancy := resources.Get "css/jquery.fancybox.min.css" }}
        {{ $style := slice $bulma $fancy $app | resources.Concat "css/apigir.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}"/>
    </head>
    <body>
