<!-- layouts/partials/menu_recursive.html -->
{{ $page := .page }}
{{ $site := .site }}
{{ $mname := .mname }}
<!-- Menu items sorted alphabetically by name -->
{{ range .menu }}
  {{ $is := $page.IsMenuCurrent $mname . }}
  {{ $has := $page.HasMenuCurrent $mname . }}
  {{ if .HasChildren }} 
  <li><a href="{{.URL}}" > {{.Name}} </a>
    <ul>
        {{ partial "menu.html" (dict "menu" .Children "page" $page "site" $site "mname" $mname ) }}
    </ul>
  </li>
  {{ else }}
  <li><a {{if or $has $is}} class="is-active" {{end}} href="{{ .URL }}" >{{.Name}}</a></li>  
  {{ end }}
{{end}}  


