<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <a class="navbar-item" href="/index.html">
            <h5 class="title is-4">Натуротерапия</h5>
        </a>
        <span class="navbar-burger burger" data-target="mainmenu"> <span></span><span></span><span></span></span>
    </div>

    <div class="navbar-menu is-hidden-desktop" id="mainmenu">
        <div class="navbar-end">
            <a class="navbar-item" href="/le4/">Вводная</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-active" href="#">Методы</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/api/"> Апитерапия </a>
                    <a class="navbar-item" href="/hirudo/"> Гирудотерапия </a>
                    <a class="navbar-item" href="/reflex/"> Рефлексотерапия </a>
                    <a class="navbar-item" href="/kosmet/"> Косметология </a>
                </div>
            </div>
            <a class="navbar-item" href="/about/">Обо мне</a>
        </div>        
    </div>
</nav>
