{{ partial "header.html" . }}
<section class="hero is-light is-hidden-touch">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"> Натуротерапия </h1>
            <h2 class="subtitle"> Комплексное лечение методами традиционной медицины </h2>
        </div>
    </div>
    <div class="hero-footer">
        <div class="tabs is-centered">
            <ul>
                <li><a href="/api/">Апитерапия</a></li>
                <li><a href="/hirudo/">Гирудотерапия</a></li>
                <li><a href="/reflex/">Рефлексотерапия</a></li>
                <li><a href="/kosmet/">Косметология</a></li>
            </ul>
        </div>
    </div>
</section>
<div class="container is-hidden-desktop">
    {{partial "nav.html" .}}
</div>
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-narrow">
                <figure>
                    <picture>
                    <source srcset="/thumbs/mumka.jpg.webp" type="image/webp"/>
                    <source srcset="/thumbs/mumka.jpg" type="image/jpeg"/>

                    <img class="shadow" src="/thumbs/mumka.jpg" alt="none"/>
                    </picture>
                </figure>  
            </div>
            <div class="column">
                <div class="content markdown">  
                    <p>В настоящее время, мы можем наблюдать возрождение старых и проверенных веками методов естественной медицины — методов,
                    основанных на использовании натуральных природных лекарств и воздействий. Основной особенностью этого вида лечения является
                    уникальная способность «живых» лекарств пробуждать собственные резервы организма на борьбу с болезнью, активировать свои
                    собственные гормональную и иммунную системы, возвращать организму возможность саморегуляции.</p>

                    <p>Однако, далеко не всегда химически синтезированные препараты
                    также безопасны и эффективны как их природные источники, а новые сильные химические препараты дают очень много побочных
                    эффектов. К счастью, сейчас люди все чаще выбирают для себя не только экологически чистые продукты питания, но и натуральные
                    методы оздоровления и лечения. К таким методам по праву принадлежат проверенные временем: гирудотерапия (лечение пиявками),
                    апитерапия (лечение пчелоужалением и продуктами пчеловодства), рефлексотерапия (иглоукалывание), фитотерапия.
                    </p><br/>

                    <a class="button is-info shadow" href="/le4/">Читать далее</a>
                </div>
            </div>
    </section>
        </div>

        <div class="container">
            <h1 class="title is-4">Список статей</h1>
            <section class="section">
                <div id="tiles">
                    {{ range .Data.Pages  }}
                    {{ if isset .Params "img" }}
                    <a href="{{ .URL }}" class="tile-item tooltip" data-tooltip="{{.Title}}" >
                        <img  style='max-width:250px;margin-bottom:5px;' src="/thumbs/{{ .Params.img }}"/>
                    </a>
                    {{ else }}    
                    <div style="max-width:250px;" class="box tile-item">
                        <div class="media-content">
                            <strong>{{.Title}}</strong>
                            <p>{{.Description}}</p>
                            <a href="{{ .URL }}">Читать</a>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>
        {{ $.Scratch.Add "masonry" 1 }}
        {{partial "footer.html" .}}

