<div class="tile-item figure" style='max-width:310px;' >  
    <a data-fancybox="gallery" {{with .Get "caption"}}data-caption="{{.}}"{{end}} href='/images/{{.Get "src"}}'>
      <picture style="max-width:100%;">
        <source srcset='/thumbs/{{ .Get "src" }}.webp'  type="image/webp" />
        <source srcset='/thumbs/{{ .Get "src" }}'  type="image/jpeg" />
        
        <img  alt="{{.Get "src"}}" src='/thumbs/{{ .Get "src" }}' />
      </picture>
    </a>
    {{ with .Get "caption" }}<span class="figcaption"><small>{{.}}</small></span> {{end}}
</div>

