<div class='kart {{ .Get "side" }}'>
    <a data-fancybox="img" href='/images/{{.Get "src"}}'>
        <picture>
            <source srcset='/thumbs/{{ .Get "src" }}.webp' type="image/webp">
            <source srcset='/thumbs/{{ .Get "src" }}' type="image/jpeg">
            <img class='shadow'  src='/thumbs/{{ .Get "src" }}' alt="{{.Get "src"}}" />
        </picture>
    </a>
</div>

